html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: "M PLUS 1", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #3c2a10;
  background-color: #fff;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  padding: 0 5.2%;
}

.l-header {
  text-align: center;
  height: 215px;
  background-color: #fff7ef;
  position: relative;
  color: #707070;
}
@media (min-width: 1000px) {
  .l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.l-main {
  height: 285px;
  display: flex;
  position: relative;
}
@media (min-width: 1000px) {
  .l-main {
    height: 600px;
  }
}

.l-main--visual {
  height: 225px;
  position: relative;
}

@media (min-width: 650px) {
  .l-main--visual:has(.p-title-visual) {
    height: 500px;
  }
}

.l-container, .l-container--front {
  padding-top: 20px;
  padding-bottom: 49px;
}

@media (min-width: 650px) {
  .l-container--front {
    padding-top: 40px;
    display: flex;
    gap: 5%;
  }
}

.l-map {
  width: 100%;
}

.l-footer {
  height: 150px;
  background-image: url(../img/layer1.jpg);
}
@media (min-width: 650px) {
  .l-footer {
    height: 170px;
  }
}

.search-no-results {
  position: relative;
}
.search-no-results .l-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (min-width: 1000px) {
  .search-no-results .l-footer {
    position: inherit;
  }
}

.l-right-side {
  background-color: #f2ede9;
}
@media (min-width: 1000px) {
  .l-right-side {
    width: 20%;
  }
}

@media (min-width: 1000px) {
  .l-left-side {
    width: 80%;
  }
}

.l-main-contents {
  display: block;
}
@media (min-width: 1000px) {
  .l-main-contents {
    display: flex;
    flex-direction: row-reverse;
  }
}

.c-icon--loupe::before {
  content: "\f002";
  font-size: 3rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;
}

.c-menu {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: #707070;
}
@media (min-width: 650px) {
  .c-menu {
    font-size: 3.4rem;
  }
}

.c-menu--close {
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 30px;
  height: 30px;
  z-index: 200;
}
@media (min-width: 1000px) {
  .c-menu--close {
    display: none;
  }
}

.c-menu--close__bar {
  display: block;
  width: 40px;
  height: 4px;
  position: absolute;
  left: 0;
  background: #707070;
}
.c-menu--close__bar:nth-child(1) {
  transform: rotate(45deg);
}
.c-menu--close__bar:nth-child(2) {
  transform: rotate(-45deg);
}

.c-logo--header {
  font-size: 4rem;
  font-weight: bold;
  padding-top: 43px;
}
@media (min-width: 1000px) {
  .c-logo--header {
    font-size: 6.4rem;
  }
}

.c-main-font--front {
  font-size: 3.6rem;
  font-weight: bold;
  color: #fff;
  font-family: "M PLUS 1", sans-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 650px) {
  .c-main-font--front {
    padding: 0 10%;
  }
}

.c-main-font--archive-large {
  font-size: 3.6rem;
  font-weight: bold;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 1000px) {
  .c-main-font--archive-large {
    font-size: 6rem;
  }
}

.c-main-font--archive-small {
  font-size: 1.6rem;
  font-family: "M PLUS 1", sans-serif;
  color: #fff;
}

.c-main-font-visual {
  font-size: 3.6rem;
  font-weight: bold;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 650px) {
  .c-main-font-visual {
    font-size: 6rem;
  }
}

.l-main--visual > .c-main-font-visual {
  color: #3c2a10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.wp-block-page-list {
  padding-top: 16px;
  color: #ffffff;
  font-family: "M PLUS 1", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.wp-block-page-list li + li::before {
  content: " ";
  border-left: 2px solid #ffffff;
  padding-left: 20px;
  margin-left: 20px;
}
@media (min-width: 650px) {
  .wp-block-page-list {
    padding-top: 30px;
  }
}

.c-copyright {
  color: #ffffff;
  font-size: 1.4rem;
  padding-top: 70px;
  text-align: center;
}
@media (min-width: 650px) {
  .c-copyright {
    padding-bottom: 20px;
  }
}

.c-iphonepage-previous,
.c-iphonepage-next {
  color: #707070;
  font-family: "M PLUS 1", sans-serif;
}
@media (min-width: 650px) {
  .c-iphonepage-previous,
.c-iphonepage-next {
    display: none;
  }
}

.wp-pagenavi .current,
.wp-pagenavi .page {
  display: none;
}
@media (min-width: 650px) {
  .wp-pagenavi .current,
.wp-pagenavi .page {
    display: block;
    border: solid 1px #707070;
    padding: 8px 12.5px;
  }
}

@media (min-width: 650px) {
  .current {
    color: #ffffff;
    background-color: #3c2b1c;
  }
}

.pages,
.nextpostslink,
.previouspostslink,
.last,
.first {
  display: none;
}
@media (min-width: 650px) {
  .pages,
.nextpostslink,
.previouspostslink,
.last,
.first {
    display: block;
    padding: 8px 0;
    line-height: 1.6rem;
  }
}

.nextpostslink,
.previouspostslink {
  font-size: 2rem;
}

.p-introduction h2.wp-block-heading {
  font-size: 2.8rem;
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
}
@media (min-width: 650px) {
  .p-introduction h2.wp-block-heading {
    font-size: 3.6rem;
  }
}

.c-title-font {
  font-size: 2.8rem;
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
}
@media (min-width: 650px) {
  .c-title-font {
    font-size: 3.6rem;
  }
}

.c-title-sub, h6.wp-block-heading, h5.wp-block-heading, h4.wp-block-heading, h3.wp-block-heading {
  font-weight: bold;
  font-family: "M PLUS 1", sans-serif;
}

h3.wp-block-heading {
  font-size: 2.4rem;
}
@media (min-width: 650px) {
  h3.wp-block-heading {
    font-size: 2.8rem;
  }
}

h4.wp-block-heading {
  font-size: 2rem;
}
@media (min-width: 650px) {
  h4.wp-block-heading {
    font-size: 2.4rem;
  }
}

h5.wp-block-heading {
  font-size: 2rem;
}
@media (min-width: 650px) {
  h5.wp-block-heading {
    font-size: 2.4rem;
  }
}

h6.wp-block-heading {
  font-size: 2rem;
}
@media (min-width: 650px) {
  h6.wp-block-heading {
    font-size: 2.4rem;
  }
}

.c-button {
  display: inline-block;
  background-color: #f2ede9;
  border: solid 1px #707070;
  border-radius: 15px;
}

.c-button--archive,
.more-link {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 163px;
  padding: 15px 40px;
  background-color: #ffffff;
  border: #707070;
  border-radius: 30px;
  color: #707070;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .c-button--archive,
.more-link {
    width: 250px;
    padding: 25px 40px;
    border-radius: 40px;
  }
}

.p-archive-menu__text p > a {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 163px;
  padding: 15px 40px;
  margin-top: 70px;
  background-color: #ffffff;
  border: #707070;
  border-radius: 30px;
  color: #707070;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .p-archive-menu__text p > a {
    width: 250px;
    padding: 25px 40px;
    border-radius: 40px;
  }
}

.wp-block-button__link {
  display: inline-block;
  background-color: #f2ede9;
  border: solid 1px #707070;
  border-radius: 15px;
  color: #3c2a10;
  padding: 30px;
  width: 100%;
  height: 80px;
  display: block;
  text-align: center;
  font-weight: bold;
}

.wp-block-button {
  width: 100%;
}
@media (min-width: 650px) {
  .wp-block-button {
    width: 430px;
  }
}

.c-button__home:hover {
  color: #707070;
}

.wp-block-quote {
  margin: 0 auto;
  padding: 0 5.2%;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.6rem;
}
@media (min-width: 650px) {
  .wp-block-quote {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.wp-block-quote a {
  border-bottom: 1px solid #4A6C9B;
  color: #4A6C9B;
}
@media (min-width: 650px) {
  .wp-block-quote p + p {
    padding-top: 60px;
  }
}

.c-image--wide {
  width: 100%;
  height: 124px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}
@media (min-width: 650px) {
  .c-image--wide {
    height: 265px;
  }
}
@media (min-width: 1000px) {
  .c-image--wide {
    height: 500px;
  }
}

.c-image--small {
  width: 42%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1000px) {
  .c-image--small {
    width: 45%;
  }
}

.c-image--normal {
  display: block;
  margin: 0 auto;
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1000px) {
  .c-image--normal {
    width: 43%;
  }
}

.c-image--collection {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.c-code,
.wp-block-code {
  padding: 50px;
  background-color: #f5f5f5;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.c-table {
  border: 1px solid #707070;
  border-collapse: collapse;
  font-size: 1.6rem;
  width: 100%;
}

.c-table__td1,
.wp-block-table td, .wp-block-table th {
  border: 1px solid #707070;
  padding: 30px 0 30px 30px;
  width: 46%;
}
@media (min-width: 650px) {
  .c-table__td1,
.wp-block-table td, .wp-block-table th {
    width: 30%;
  }
}

.c-table__td2 {
  border: 1px solid #707070;
  width: 54%;
  padding: 30px 0 30px 30px;
}
@media (min-width: 650px) {
  .c-table__td2 {
    width: 70%;
  }
}

.c-bold {
  font-weight: bold;
}

.p-search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
@media (min-width: 1000px) {
  .p-search-box {
    margin-bottom: 0;
    width: 50%;
  }
}
.p-search-box .p-search-box__text {
  position: relative;
  margin-right: 16px;
  width: 57%;
}
@media (min-width: 650px) {
  .p-search-box .p-search-box__text {
    width: 47%;
  }
}
@media (min-width: 1000px) {
  .p-search-box .p-search-box__text {
    width: 100%;
  }
}
.p-search-box .p-search-box__text .c-input-text {
  background-color: #fff;
  height: 46px;
  border: solid 1px #808080;
  border-radius: 10px;
  text-align: left;
  padding-left: 50px;
  width: 100%;
}
.p-search-box .p-search-box__text .c-icon--loupe::before {
  position: absolute;
  top: 7px;
  left: 10px;
}
.p-search-box .c-button {
  width: 24%;
  line-height: 46px;
  font-weight: bold;
}
@media (min-width: 650px) {
  .p-search-box .c-button {
    width: 16%;
  }
}
@media (min-width: 1000px) {
  .p-search-box .c-button {
    width: 30%;
  }
}

.p-main-visual {
  background-image: url(../img/main-visual.jpg);
  background-size: cover;
  background-position: center;
}
@media (min-width: 1000px) {
  .p-main-visual {
    background-image: url(../img/mainvisual-pc.jpg);
  }
}

.p-archive-visual {
  background-image: url(../img/archive-visual.jpg);
  background-size: cover;
  background-position: center;
}
@media (min-width: 650px) {
  .p-archive-visual {
    background-image: url(../img/archive-visual-pc.jpg);
  }
}
@media (min-width: 1000px) {
  .p-archive-visual {
    height: 200px;
  }
}

.p-archive-visual__layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.p-archive-visual__text {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 650px) {
  .p-archive-visual__text {
    padding: 0 10%;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.p-archive-visual__text .c-main-font--archive-large {
  padding-bottom: 12px;
}
@media (min-width: 650px) {
  .p-archive-visual__text .c-main-font--archive-large {
    padding-bottom: 0;
  }
}

.p-archive-section--main {
  padding: 12px 0;
}
@media (min-width: 650px) {
  .p-archive-section--main {
    padding-bottom: 30px;
  }
}
.p-archive-section--main .c-title-font {
  padding-bottom: 25px;
}

.p-archive-menu-main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.p-archive-menu > a, .p-archive-menu--product1 > a,
.p-archive-menu--product2 > a,
.p-archive-menu--product3 > a,
.p-archive-menu--product4 > a,
.p-archive-menu--product5 > a {
  display: block;
  width: 100%;
}

.p-archive-menu__image,
.wp-post-image {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 650px) {
  .p-archive-menu__image,
.wp-post-image {
    height: 100%;
  }
}

.p-archive-menu__textbox,
.p-archive-menu > .type-post,
.p-archive-menu--product1 > .type-post,
.p-archive-menu--product2 > .type-post,
.p-archive-menu--product3 > .type-post,
.p-archive-menu--product4 > .type-post,
.p-archive-menu--product5 > .type-post {
  background-color: #3C2B1C;
  color: #ffffff;
  padding: 40px 5%;
}
@media (min-width: 650px) {
  .p-archive-menu__textbox,
.p-archive-menu > .type-post,
.p-archive-menu--product1 > .type-post,
.p-archive-menu--product2 > .type-post,
.p-archive-menu--product3 > .type-post,
.p-archive-menu--product4 > .type-post,
.p-archive-menu--product5 > .type-post {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}

.p-archive-menu__title {
  font-size: 2rem;
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
}
@media (min-width: 1000px) {
  .p-archive-menu__title {
    font-size: 3.6rem;
  }
}

.p-archive-menu__sub-title,
.p-archive-menu__text > h2 {
  font-size: 1.6rem;
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
}
@media (min-width: 1000px) {
  .p-archive-menu__sub-title,
.p-archive-menu__text > h2 {
    font-size: 2.4rem;
  }
}

.p-archive-menu__text > p:first-of-type {
  padding-top: 10px;
  padding-bottom: 40px;
}
@media (min-width: 1000px) {
  .p-archive-menu__text > p:first-of-type {
    padding-top: 15px;
  }
}

.p-archive-menu, .p-archive-menu--product1,
.p-archive-menu--product2,
.p-archive-menu--product3,
.p-archive-menu--product4,
.p-archive-menu--product5 {
  width: 100%;
}
@media (min-width: 650px) {
  .p-archive-menu, .p-archive-menu--product1,
.p-archive-menu--product2,
.p-archive-menu--product3,
.p-archive-menu--product4,
.p-archive-menu--product5 {
    display: flex;
    flex-direction: row;
  }
}

.p-archive-menu + .p-archive-menu, .p-archive-menu--product1 + .p-archive-menu,
.p-archive-menu--product2 + .p-archive-menu,
.p-archive-menu--product3 + .p-archive-menu,
.p-archive-menu--product4 + .p-archive-menu,
.p-archive-menu--product5 + .p-archive-menu, .p-archive-menu + .p-archive-menu--product1, .p-archive-menu--product1 + .p-archive-menu--product1,
.p-archive-menu--product2 + .p-archive-menu--product1,
.p-archive-menu--product3 + .p-archive-menu--product1,
.p-archive-menu--product4 + .p-archive-menu--product1,
.p-archive-menu--product5 + .p-archive-menu--product1,
.p-archive-menu + .p-archive-menu--product2,
.p-archive-menu--product1 + .p-archive-menu--product2,
.p-archive-menu--product2 + .p-archive-menu--product2,
.p-archive-menu--product3 + .p-archive-menu--product2,
.p-archive-menu--product4 + .p-archive-menu--product2,
.p-archive-menu--product5 + .p-archive-menu--product2,
.p-archive-menu + .p-archive-menu--product3,
.p-archive-menu--product1 + .p-archive-menu--product3,
.p-archive-menu--product2 + .p-archive-menu--product3,
.p-archive-menu--product3 + .p-archive-menu--product3,
.p-archive-menu--product4 + .p-archive-menu--product3,
.p-archive-menu--product5 + .p-archive-menu--product3,
.p-archive-menu + .p-archive-menu--product4,
.p-archive-menu--product1 + .p-archive-menu--product4,
.p-archive-menu--product2 + .p-archive-menu--product4,
.p-archive-menu--product3 + .p-archive-menu--product4,
.p-archive-menu--product4 + .p-archive-menu--product4,
.p-archive-menu--product5 + .p-archive-menu--product4,
.p-archive-menu + .p-archive-menu--product5,
.p-archive-menu--product1 + .p-archive-menu--product5,
.p-archive-menu--product2 + .p-archive-menu--product5,
.p-archive-menu--product3 + .p-archive-menu--product5,
.p-archive-menu--product4 + .p-archive-menu--product5,
.p-archive-menu--product5 + .p-archive-menu--product5 {
  margin-top: 5%;
}

.p-archive-menu > a, .p-archive-menu--product1 > a,
.p-archive-menu--product2 > a,
.p-archive-menu--product3 > a,
.p-archive-menu--product4 > a,
.p-archive-menu--product5 > a {
  display: block;
}

.p-section, .p-section--EatIn, .p-section--TakeOut {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
}

.p-section--TakeOut {
  background-image: url(../img/TakeOut.jpg);
  margin-bottom: 15px;
}
@media (min-width: 650px) {
  .p-section--TakeOut {
    margin-bottom: 0;
    width: 50%;
  }
}

.p-section--EatIn {
  background-image: url(../img/EatIn.jpg);
}
@media (min-width: 650px) {
  .p-section--EatIn {
    width: 50%;
  }
}

.p-section__title-font {
  font-size: 4rem;
  font-weight: bold;
  padding: 15px;
  color: #fafafa;
}
@media (min-width: 650px) {
  .p-section__title-font {
    font-size: 4.4rem;
  }
}
@media (min-width: 1000px) {
  .p-section__title-font {
    font-size: 8rem;
  }
}

.p-section__border {
  content: " ";
  width: 34px;
  height: 4px;
  background-color: #fff;
  margin-left: 15px;
}

.p-section__sub-font {
  color: #3c2a10;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 15px 15px 0 15px;
}

.p-section__text-font {
  color: #3c2a10;
  font-size: 1.6rem;
  padding: 15px;
}

.p-section__box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 200px;
  padding-bottom: 5%;
}
@media (min-width: 650px) {
  .p-section__box {
    padding-top: 250px;
  }
}
@media (min-width: 1000px) {
  .p-section__box {
    padding-top: 660px;
  }
}

.p-section__box1,
.p-section__box2 {
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  margin: 0 auto;
}

.p-map {
  background-image: url(../img/map-screenshot.jpg);
  background-size: cover;
  position: relative;
}
.p-map .p-map__layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.p-map .p-map__layer__black {
  position: absolute;
  width: 100%;
  height: 63%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
}
@media (min-width: 650px) {
  .p-map .p-map__layer__black {
    height: 100%;
  }
}
@media (min-width: 1000px) {
  .p-map .p-map__layer__black {
    width: 63%;
    height: 100%;
  }
}

.p-map__text-box {
  position: relative;
  z-index: 10;
  padding: 42px 8%;
}
@media (min-width: 1000px) {
  .p-map__text-box {
    width: 63%;
  }
}
.p-map__text-box .p-map__border {
  width: 75px;
  height: 2px;
  background-color: #fff;
}
.p-map__text-box .p-map__title-font {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  font-family: "M PLUS 1", sans-serif;
  padding-bottom: 20px;
}
.p-map__text-box .p-map__text-font {
  font-size: 1.4rem;
  color: #fff;
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  line-height: 30px;
}

.p-foodmenu--background {
  background-color: rgba(0, 0, 0, 0.5);
}

.p-foodmenu-title--sp {
  position: absolute;
  top: 2.2%;
  right: 2.2%;
}
@media (min-width: 1000px) {
  .p-foodmenu-title--sp {
    display: none;
  }
}

.p-foodmenu-title--pc {
  display: none;
}
@media (min-width: 1000px) {
  .p-foodmenu-title--pc {
    display: block;
    position: relative;
    padding-left: 12%;
    padding-top: 84px;
  }
}

.p-foodmenu {
  width: 87%;
}
@media (min-width: 650px) {
  .p-foodmenu {
    width: 44%;
  }
}
.p-foodmenu > .menu-food-menu-container {
  padding-top: 100px;
  padding-left: 12%;
  margin-bottom: 160px;
}
@media (min-width: 1000px) {
  .p-foodmenu > .menu-food-menu-container {
    margin-bottom: 0;
    padding-top: 30px;
  }
}

.p-foodmenu__list1,
.menu-item-has-children {
  display: block;
  font-size: 2.4rem;
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
  color: #707070;
  padding-top: 60px;
  padding-bottom: 40px;
}
@media (min-width: 1000px) {
  .p-foodmenu__list1,
.menu-item-has-children {
    padding-top: 45px;
    padding-bottom: 0;
  }
}

.p-foodmenu__list2,
.sub-menu > .menu-item {
  display: block;
  font-size: 2rem;
  font-family: "M PLUS 1", sans-serif;
  color: #707070;
  padding: 10px;
}
.p-foodmenu__list2:first-child,
.sub-menu > .menu-item:first-child {
  margin-top: 40px;
}
@media (min-width: 1000px) {
  .p-foodmenu__list2:first-child,
.sub-menu > .menu-item:first-child {
    margin-top: 30px;
  }
}

.menu-item-has-children:last-of-type > .sub-menu {
  margin-bottom: 100px;
}

.p-pagenavi,
.wp-pagenavi {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
@media (min-width: 650px) {
  .p-pagenavi,
.wp-pagenavi {
    justify-content: center;
    gap: 2%;
  }
}

.wp-pagenavi a:hover {
  color: #FFF;
  background-color: #999;
  border-color: #999;
}

.p-title-visual {
  position: relative;
}
@media (min-width: 650px) {
  .p-title-visual {
    height: 500px;
  }
}
.p-title-visual .c-main-font-visual {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 650px) {
  .p-title-visual + p-introduction {
    margin-top: 500px;
  }
}

.p-introduction {
  padding-bottom: 30px;
}
.p-introduction .c-title-font {
  padding-bottom: 25px;
}
@media (min-width: 650px) {
  .p-introduction .c-title-font {
    font-size: 3.6rem;
    padding-bottom: 55px;
    padding-top: 40px;
  }
}

@media (min-width: 650px) {
  .p-introduction .type-post .wp-block-heading:first-child {
    padding-top: 40px;
  }
}

.p-introduction--product {
  padding-bottom: 30px;
}
.p-introduction--product .c-image--normal {
  padding-top: 30px;
}

.p-introduction__product, .p-introduction__product2, .p-introduction__product1 {
  display: flex;
  padding-top: 30px;
  align-items: flex-start;
  gap: 3%;
}

.p-introduction__product2 {
  flex-direction: row-reverse;
}

.p-introduction--collection,
.wp-block-gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media (min-width: 650px) {
  .p-introduction--collection,
.wp-block-gallery {
    margin-top: 240px;
  }
}
@media (min-width: 1000px) {
  .p-introduction--collection,
.wp-block-gallery {
    margin-top: 0;
  }
}

.p-list {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 650px) {
  .p-list {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 7%;
  }
}

.p-list__list2 {
  padding-top: 60px;
}

ol {
  counter-reset: count 0;
}

ol > li:before {
  content: counter(count) ". ";
  counter-increment: count 1;
}

li > ol,
li > ul {
  padding: 12px 0 12px 18px;
}

ul, ol {
  padding: 12px 0;
}

.p-page-visual {
  background-image: url(../img/black-steel-lamp-post.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (min-width: 650px) {
  .p-page-visual {
    background-image: url(../img/black-steel-lamp-post-tab.jpg);
    height: 500px;
  }
}
@media (min-width: 1000px) {
  .p-page-visual {
    background-image: url(../img/black-steel-lamp-post-pc.jpg);
  }
}
.p-page-visual .c-main-font-visual {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.u-mb,
.wp-block-heading,
.wp-block-quote,
.wp-block-code,
.wp-block-button__link {
  margin-bottom: 30px;
}
@media (min-width: 650px) {
  .u-mb,
.wp-block-heading,
.wp-block-quote,
.wp-block-code,
.wp-block-button__link {
    margin-bottom: 50px;
  }
}

.p-introduction p {
  margin-bottom: 30px;
}
@media (min-width: 650px) {
  .p-introduction p + .wp-block-heading {
    padding-top: 30px;
  }
}

.u-mb-small {
  margin-bottom: 20px;
}

.u-mb-large,
.wp-block-table {
  margin-bottom: 40px;
}

.wp-block-image {
  padding-bottom: 10px;
}
@media (min-width: 650px) {
  .wp-block-image {
    padding-bottom: 30px;
  }
}

.js-foodmenu--background {
  visibility: hidden;
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
}

@-webkit-keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.js-foodmenu--background.is-open {
  visibility: visible;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
}

@-webkit-keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.js-foodmenu {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  z-index: 100;
  top: 0;
  right: -100%;
  transition: ease 0.5s;
  background-color: #f2ede9;
}
@media (min-width: 1000px) {
  .js-foodmenu {
    position: inherit;
    width: 100%;
    height: auto;
  }
}

.js-foodmenu.is-open {
  right: 0;
}

:is(.home, .archive, .page, .single).is-open {
  height: 100%;
  overflow: hidden;
}
/*# sourceMappingURL=common.css.map */