@use "../../foundation/base" as *;
//検索のボタン
.c-button {
  display: inline-block;
  background-color: #f2ede9;
  border: solid 1px #707070;
  border-radius: 15px;
}


.c-button__home:hover {
 color: #707070;
}