@use '../../foundation/base' as *;
.wp-block-page-list {
  padding-top: 16px;
  color: #ffffff;
  font-family: $font-jp;
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  li+li {
    &::before {
      content: ' ';
      border-left: 2px solid #ffffff;
      padding-left: 20px;
      margin-left: 20px;
    }
  }
  @include tab {
    padding-top: 30px;
  }
}