@use '../../foundation/base' as *;
// .c-quote,
.wp-block-quote {
  margin: 0 auto;
  padding: 0 5.2%;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.6rem;
  @include tab {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  a {
    border-bottom:1px solid #4A6C9B;
    color: #4A6C9B;
  }
  p + p {
    @include tab {
      padding-top: 60px;
    }
  }
}