@use '../../foundation/base' as *;
.c-table { 
  border: 1px solid #707070;
  border-collapse: collapse;
  font-size: 1.6rem;
  width: 100%;
}
.c-table__td1,
.wp-block-table td, .wp-block-table th {
  border: 1px solid #707070;
  padding: 30px 0 30px 30px;
  width: 46%;
  @include tab {
    width: 30%;
  }
}
.c-table__td2 {
  border: 1px solid #707070;
  width: 54%;
  padding: 30px 0 30px 30px;
  @include tab {
    width: 70%;
  }
}