@use "../../foundation/base" as *;
.u-mb,
.wp-block-heading,
.wp-block-quote,
.wp-block-code,
.wp-block-button__link {
  margin-bottom: 30px;
  @include tab {
    margin-bottom: 60px;
  }
}
.p-introduction {
  p {
    margin-bottom: 30px;
  }
  p + .wp-block-heading {
    @include tab {
      padding-top: 30px;
    }
  }
}
.u-mb-small {
  margin-bottom: 20px;
}
.u-mb-large,
.wp-block-table {
  margin-bottom: 40px;
}
.wp-block-image {
  padding-bottom: 10px;
  @include tab {
    padding-bottom: 30px;
  }
}
