@use "../../foundation/base" as *;
.p-archive-menu-main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.p-archive-menu > a {
  display: block;
  width: 100%;
}

//アーカイブページのメインの写真
.p-archive-menu__image {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
  @include tab {
    height: 100%;
  }
}


//茶色いメニュー全体
.p-archive-menu__textbox,
.p-archive-menu > .type-post {
  background-color: $archive-bk-color;
  color: #ffffff;
  padding: 40px 5%;
  @include tab {
    // width: 50%;
    flex-basis: 50%;
    flex-shrink: 0;
  }
}
//茶色いメニューのタイトル
.p-archive-menu__title {
  font-size: 2rem;
  font-family: $font-jp;
  font-weight: bold;
  padding-bottom: 20px;
  @include pc {
    font-size: 3.6rem;
  }
}

.p-archive-menu__sub-title,
.p-archive-menu__text > h2,
.p-archive-menu__text > h2.wp-block-heading {
  font-size: 1.6rem;
  font-family: $font-jp;
  font-weight: bold;
  margin-bottom: 20px;
  @include pc {
    font-size: 2.4rem;
  }
}
//茶色いメニューのテキスト
.p-archive-menu__text > p:first-of-type {
  padding-top: 10px;
  padding-bottom: 40px;
  @include pc {
    padding-top: 15px;
  }
}

//タブレット以降のメニュー横並び
.p-archive-menu {
  width: 100%;
  @include tab {
    display: flex;
    flex-direction: row;
  }
}
.p-archive-menu + .p-archive-menu {
  margin-top: 5%;
}
.p-archive-menu > a {
  display: block;
}

//the_excerptを使った時の「詳しく見る」のボタン
.p-archive-menu__text {
  p > a {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 163px;
    padding: 15px 40px;
    margin-top: 70px;
    background-color: #ffffff;
    border: #707070;
    border-radius: 30px;
    color: #707070;
    cursor: pointer;
    @include pc {
      width: 250px;
      padding: 25px 40px;
      border-radius: 40px;
    }
  }
}

