@use "../../foundation/base" as *;
//シングルページの最初の説明文
.p-introduction {
  padding-bottom: 30px;
  .c-title-font {
    padding-bottom: 25px;
    @include tab {
      font-size: 3.6rem;
      padding-bottom: 55px;
      padding-top: 40px;
    }
  }
}

//シングルページの最初のテキストの上に余白をつける。（WordPressで使用）
.p-introduction {
  .type-post .wp-block-heading:first-child {
    @include tab {
      padding-top: 40px;
    }
  }
  //シングルページのh2にwp-block-headingのクラス名がついたりつかなかったりする？
  //クラス名が付与されなかった場合のスタイリング↓
  h2 {
  font-size: 2.8rem;
  margin-bottom: 30px;
  font-weight: bold;
    @include tab {
  font-size: 3.6rem;
  margin-bottom: 50px;
    }
  }
}


//商品の写真一覧(ギャラリーのスタイリング必要？？）
.p-introduction--collection {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  @include tab {
    margin-top: 240px;
  }
  @include pc {
    margin-top: 0;
  }
}
// .wp-block-gallery↑のスタイリング当てていたけどいる？？
