@use "../../foundation/base" as *;
.l-container {
  //頭に数字がついているリスト
  ol {
    counter-reset: count 0;
  }
  ol > li:before {
    content: counter(count) ". ";
    counter-increment: count 1;
  }

  li > ol,
  li > ul {
    padding: 12px 0 12px 18px;
  }

  ul,
  ol {
    padding: 12px 0;
  }
}
