@use '../../foundation/base' as *; 
.p-pagenavi,
.wp-pagenavi {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  @include tab {
    justify-content: center;
    gap: 2%;
  }
}
.wp-pagenavi a:hover{
  color:#FFF; 
  background-color:#999; 
  border-color:#999;
  }