@use '../../foundation/base' as *;
//ヘッダー直下のsingleビジュアル
.p-page-visual {
  background-image: url(../../../../img/black-steel-lamp-post.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  @include tab {
    background-image: url(../../../img/black-steel-lamp-post-tab.jpg);
    height: 500px;
  }
  @include pc {
    background-image: url(../../../img/black-steel-lamp-post-pc.jpg);
  }
  .c-main-font-visual {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
