@use "../../foundation/base" as *;
//ヘッダー直下のsingleビジュアル
.p-title-visual {
  position: relative;
  @include tab {
    height: 500px;
  }
  @include pc {
  }
  .c-main-font-visual {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.p-title-visual + p-introduction {
  @include tab {
    margin-top: 500px;
  }
}

