@use '../foundation/base' as *;
.l-footer {
  height: 150px;
  background-image: url(../img/layer1.jpg);
  // background-color: #9D8670;
  @include tab {
    height: 170px;
  }
}

.search-no-results, {
  position: relative;
  .l-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    @include pc {
      position: inherit;
    }
  }
}