@use '../foundation/base' as *;
.l-header {
  text-align: center;
  height: 215px;
  background-color: $top-bk-color;
  position: relative;
  color: #707070;
  @include pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
