@use '../foundation/base' as *;
//バーガー、サイド、ドリンクのフォント
.menu-item-has-children {
  display: block;
  font-size: 2.4rem;
  font-family: $font-jp;
  font-weight: bold;
  color: #707070;
  padding-top: 60px;
  padding-bottom: 40px;
  @include pc {
    padding-top: 45px;
    padding-bottom: 0;
  }
}
//チーズバーガー、ポテトなどのフォント
.sub-menu > .menu-item {
  display: block;
  font-size: 2rem;
  font-family: $font-jp;
  color: #707070;
  padding: 10px;
  &:first-child {
    margin-top: 40px;
    @include pc {
      margin-top: 30px;
    }
  }
}
.menu-item-has-children:last-of-type > .sub-menu {
  margin-bottom: 100px;
}
