@use '../foundation/base' as *;
//アーカイブページの「詳しく見る」のボタン
.more-link {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 163px;
  padding: 15px 40px;
  background-color: #ffffff;
  border: #707070;
  border-radius: 30px;
  color: #707070;
  cursor: pointer;
  @include pc {
    width: 250px;
    padding: 25px 40px;
    border-radius: 40px;
  }
}