@use "../foundation/base" as *;
//シングルページの投稿が長い時のページ分割
.post-pages {
  text-align: center;
  padding: 20px;
 }
 .post-page-numbers {
   padding: 5px 7px;
 }
 .post-page-numbers.current {
   color: #ffffff;
   background-color: #3c2b1c;
 }