@use '../foundation/base' as *;

figure.wp-block-gallery.has-nested-images {
  gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  @include tab {
    margin-top: 20px;
  }
  img {
    width: 100%;
    object-fit: contain;
  }
}