@use '../foundation/base' as *;
//シングルページとショップページの下部のボタン
.wp-block-button__link {
  display: inline-block;
  background-color: #f2ede9;
  border: solid 1px #707070;
  border-radius: 15px;
  color: #3c2a10;
  padding: 30px;
  width: 100%;
  height: 80px;
  display: block;
  text-align: center;
  font-weight: bold;
}
.wp-block-button {
  width: 100%;
  @include tab {
    width: 430px;
  }
}